**/.build/*.aux
**/.build/*.bbl
**/.build/*.blg
**/.build/*.fdb_latexmk
**/.build/*.fls
**/.build/*.log
**/.build/*.out
**/.build/*.synctex.gz
**/*.zip
**/*.rar
**/.venv/
**/__pycache__/
**/.build/*.bib
**/node_modules/
**/Pruebas/